<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="css/home.css">

</head>

<body>
    <header class="header">

        <section class="flex">

            <div id="menu-btn" class="fas fa-bars-staggered"></div>
            <a href="/" class="logo"><i class="fas fa-briefcase"></i>JobHop.</a>
            <nav class="navbar">
                <a href="/">home</a>
                <a href="/about">about us</a>
                <a href="/jobs">all jobs</a>
                <a href="/contact">contact us</a>
                <a href="/signup">Sign Up</a>
            </nav>

            <a href="#" class="btn" style="margin-top: 0;">post jobs</a>
        </section>
    </header>




    <div class="section-title">About us</div>
    <section class="about">
        <img src="/images/main.jpg" alt="">
        <div class="box">
            <h3>why choose us</h3>
            <p>At JobHop, we're passionate about connecting job seekers with their dream opportunities. Our mission is
            to simplify the job search process, providing you with a user-friendly platform that empowers you to
            find fulfilling careers.</p> 



            <h4>Comprehensive Job Database:</h4>
             <p>Explore a vast database of job listings from top companies across various
            industries. </p>
            <h4>Tailored Recommendations:</h4> 
           <p>Our advanced algorithms match you with relevant job opportunities based on
            your skills, experience, and preferences.</p> 
            <h4>Career Resources:</h4> 
           <p> Access valuable career advice, resume tips, interview preparation, and industry
            insights to boost your job search. </p>
            <h4>Employer Partnerships:</h4>
             <p>We collaborate with leading employers to ensure you have access to the latest job
                openings and company information. </p>
            <h4>User-Friendly Interface:</h4>
            <p> Our intuitive platform makes it easy to search, apply, and track your job
                applications.</p>
            <h3>Our Vision</h3>
            <p>We envision a world where everyone can find a fulfilling career that aligns with their passions and
                goals. JobHop is committed to being your trusted partner in achieving career success.</p>
            <a href="/contact" class="btn">Contact us</a>

        </div>
    </section>
















    <footer class="footer">
        <section class="grid">
            <div class="box">
                <h3>quick links</h3>
                <a href="/"> <i class="fas fa-angle-right"></i>home</a>
                <a href="/about"><i class="fas fa-angle-right"></i>about us</a>
                <a href="/jobs"><i class="fas fa-angle-right"></i>all jobs</a>
                <a href="/contact"><i class="fas fa-angle-right"></i>contact us</a>
                <a href="#"><i class="fas fa-angle-right"></i> filter search</a>
            </div>

            <div class="box">
                <h3>extra links</h3>
                <a href="#"><i class="fas fa-angle-right"></i> account</a>

                <a href="/login"><i class="fas fa-angle-right"></i>Login</a>

                <a href="/signup"><i class="fas fa-angle-right"></i>Sign UP</a>

                <a href="#"><i class="fas fa-angle-right"></i>post job</a>

                <a href="#"><i class="fas fa-angle-right"></i>Dahboard</a>


            </div>

            <div class="box">
                <h3>follow us</h3>
                <a href="#"><i class="fab fa-facebook-f"></i>facebook</a>

                <a href="#"><i class="fab fa-twitter"></i>twitter</a>

                <a href="#"><i class="fab fa-instagram"></i>instagram</a>

                <a href="#"><i class="fab fa-youtube"></i>youtube</a>
            </div>
        </section>
        <div class="credit">&copy; copyright @ 2024 by <span>Sahil & Diya </span>| all rights reserved</div>
    </footer>




    <script src="/scripts/home.js"></script>
</body>

</html>