<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="css/home.css">

</head>

<body>
    <header class="header">

        <section class="flex">

            <div id="menu-btn" class="fas fa-bars-staggered"></div>
            <a href="/" class="logo"><i class="fas fa-briefcase"></i>JobHop.</a>
            <nav class="navbar">
                <a href="/">home</a>
                <a href="/about">about us</a>
                <a href="/jobs">all jobs</a>
                <a href="/contact">contact us</a>
                <a href="/signup">Sign Up</a>
            </nav>

            <a href="#" class="btn" style="margin-top: 0;">post jobs</a>
        </section>
    </header>

    <div class="section-title">Contact us</div>
    <section class="contact">
        <div class="box-container">
            <div class="box">
                <i class="fas fa-phone"></i>
                <a href="tel:1234567890">1234567890</a>
                <a href="tel:1286518725">1286518725</a>

            </div>
            <div class="box">
                <i class="fas fa-envelope"></i>
                <a href="mailto:1xyz@gmail.com">1xyz@gmail.com</a>
                <a href="mailto:abc@gmail.com">abc@gmail.com</a>

            </div>

            <div class="box">
                <i class="fas fa-map-marker-alt"></i>
                <a href="#">flat no. 1, a-23 building, sanjauli, shimla ,HP, India 122346</a>

            </div>
        </div>
        <form action="" method="post">
            <h3>drop your message</h3>
            <div class="flex">
                <div class="box">

                    <p>name <span>*</span></p>
                    <input type="text" name="name" required maxlength="20" placeholder="enter your name " class="input">
                </div>

                <div class="box">

                    <p>email <span>*</span></p>
                    <input type="email" name="email" required maxlength="20" placeholder="enter your email"
                        class="input">
                </div>
                <div class="box">

                    <p>number <span>*</span></p>
                    <input type="number" name="number" required maxlength="20" min="0" max="9999999999"
                        placeholder="enter you number " class="input">
                </div>

                <div class="box">

                    <p>role<span>*</span></p>
                    <select name="role" required class="input">
                        <option value="employee">Job seeker (employee)</option>
                        <option value="employer">Job provider(employer)</option>
                    </select>
                </div>
            </div>
            <p>message <span>*</span></p>
            <textarea name="message" placeholder="enter your message" cols="30" rows="10" class="input"></textarea>
            <input type="submit" value=" send message " name="send" class="btn">
        </form>

    </section>













    <footer class="footer">
        <section class="grid">
            <div class="box">
                <h3>quick links</h3>
                <a href="/"> <i class="fas fa-angle-right"></i>home</a>
                <a href="/about"><i class="fas fa-angle-right"></i>about us</a>
                <a href="/jobs"><i class="fas fa-angle-right"></i>all jobs</a>
                <a href="/contact"><i class="fas fa-angle-right"></i>contact us</a>
                <a href="#"><i class="fas fa-angle-right"></i> filter search</a>
            </div>

            <div class="box">
                <h3>extra links</h3>
                <a href="#"><i class="fas fa-angle-right"></i> account</a>

                <a href="/login"><i class="fas fa-angle-right"></i>Login</a>

                <a href="/signup"><i class="fas fa-angle-right"></i>Sign UP</a>

                <a href="#"><i class="fas fa-angle-right"></i>post job</a>

                <a href="#"><i class="fas fa-angle-right"></i>Dahboard</a>


            </div>

            <div class="box">
                <h3>follow us</h3>
                <a href="#"><i class="fab fa-facebook-f"></i>facebook</a>

                <a href="#"><i class="fab fa-twitter"></i>twitter</a>

                <a href="#"><i class="fab fa-instagram"></i>instagram</a>

                <a href="#"><i class="fab fa-youtube"></i>youtube</a>
            </div>
        </section>
        <div class="credit">&copy; copyright @ 2024 by <span>Sahil & Diya </span>| all rights reserved</div>
    </footer>




    <script src="/scripts/home.js"></script>
</body>

</html>