<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>



    <header class="header">

        <section class="flex">

            <div id="menu-btn" class="fas fa-bars-staggered"></div>
            <a href="/" class="logo"><i class="fas fa-briefcase"></i>JobHop.</a>
            <nav class="navbar">
                <a href="/">home</a>
                <a href="/about">about us</a>
                <a href="/jobs">all jobs</a>
                <a href="/contact">contact us</a>
                <a href="/signup">Sign Up</a>
            </nav>

            <a href="#" class="btn" style="margin-top: 0;">post jobs</a>
        </section>
    </header>




    
    <div class="home-container">
        <section class="home">
            <form action="/signup" method="post">

                <h3>Sign Up</h3>
                <p>Username<span>*</span></p>
                <input type="text" id="name" name="username" placeholder="Enter your name" required maxlength="20"
                    class="input" autocomplete="off">
                <p>Password<span>*</span> </p>
                <input type="password" id="password" name="password"  placeholder="password" required maxlength="50"
                    class="input">

                <input type="submit" value="Sign Up" name="signup" class="btn">
            </form>
           
        </section>
    </div>

   



    <footer class="footer">
        <section class="grid">
            <div class="box">
                <h3>quick links</h3>
                <a href="/"> <i class="fas fa-angle-right"></i>home</a>
                <a href="/about"><i class="fas fa-angle-right"></i>about us</a>
                <a href="/jobs"><i class="fas fa-angle-right"></i>all jobs</a>
                <a href="/contact"><i class="fas fa-angle-right"></i>contact us</a>
                <a href="#"><i class="fas fa-angle-right"></i> filter search</a>
            </div>

            <div class="box">
                <h3>extra links</h3>
                <a href="#"><i class="fas fa-angle-right"></i> account</a>

                <a href="/login"><i class="fas fa-angle-right"></i>Login</a>

                <a href="/signup"><i class="fas fa-angle-right"></i>Sign UP</a>

                <a href="#"><i class="fas fa-angle-right"></i>post job</a>

                <a href="#"><i class="fas fa-angle-right"></i>Dahboard</a>


            </div>

            <div class="box">
                <h3>follow us</h3>
                <a href="#"><i class="fab fa-facebook-f"></i>facebook</a>

                <a href="#"><i class="fab fa-twitter"></i>twitter</a>

                <a href="#"><i class="fab fa-instagram"></i>instagram</a>

                <a href="#"><i class="fab fa-youtube"></i>youtube</a>
            </div>
        </section>
        <div class="credit">&copy; copyright @ 2024 by <span>Sahil & Diya </span>| all rights reserved</div>
    </footer>







    <script src="/scripts/home.js"></script>
</body>
</html>